html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
/*    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
*/    background: linear-gradient(160deg, #427d37a6 0%, #4f7d37e0 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #0bf3cdf5;
    font-size: 33px;
}

.deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.deck .card.unmatch {
    background: #FB5A52FF;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    visibility: hidden;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.showModal {
    visibility: visible !important;
    opacity: 100 !important;
}

.popup {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    margin: 70px auto;
    padding: 0 30px 30px;
    border-radius: 6px;
}

.trophy {
    width: 25px;
}

.balloons {
    width: 50px;
}

.fa-star {
    color: #f7d205;
    font-size: 21px;
}

.fa-repeat {
    color: #ea531be8;
    font-size: 23px;
}

.congrat a {
    display: inline-block;
    float: right;
    font-size: 25px;
    padding: 20px 0;
    text-decoration: none;
}

.congrat p {
    font-size: 30px;
    display: inline-block;
}

.record {
    overflow: auto;
    text-align: center;
}

.record p {
    font-size: 20px;
    line-height: 40px;
}

.record button {
    cursor: pointer;
    padding: 5px 45px;
    background: linear-gradient(160deg, #02ccba 0%, #02ccba 100%);
    color: white;
    font-size: 19px;
    border-radius: 5px;
    font-family: 'Coda', cursive;
    box-shadow: 2px 2px 20px 0 rgba(46, 61, 73, 0.3);
}

.rating li {
    list-style: none;
    display: inline-block;
}


/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}














