html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  touch-action: manipulation;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: Itim, cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    padding: 35px;
*/}

h1 {
    font-family: Itim, sans-serif;
    font-weight: 300;
}

header {
    font-size: 1.3em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 43em;
    background: linear-gradient(160deg, #add8e6 0%, #add8e6 100%);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #0c1333;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #0bf3cdf5;
    font-size: 33px;
    pointer-events: none;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

.deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.deck .card.unmatch {
    background: #FA3940FF;
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 380px;
    margin: 15px 0 20px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    visibility: hidden;
}

.fa-star {
    color: #f7d205;
    font-size: 25px;
}

.fa-repeat {
    color: #ea531be8;
    font-size: 25px;
    transition: all .2s ease-in-out;
}

.fa-repeat:hover {
    transform: scale(1.25);
    color: #dc4311;
}

.score-panel .moves-word, .score-panel .moves {
    font-size: 25px;
}

.score-panel .moves {
    margin-left: 6px;
}

.score-panel .timer {
    font-size: 23px;
    margin-left: 8px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    padding-top: 4px;
}

/* Styles for overlay */

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 300ms;
    visibility: hidden;
    opacity: 0;
}

.show-modal {
    visibility: visible !important;
    opacity: 100 !important;
}

.popup {
    width: 42em;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    margin: 70px auto;
    padding: 0 30px 30px;
    border-radius: 6px;
}

.trophy {
    width: 25px;
}

.balloons {
    width: 50px;
}

.congrat a {
    display: inline-block;
    float: right;
    font-size: 28px;
    padding: 20px 0;
    text-decoration: none;
}

.congrat p {
    font-size: 35px;
    display: inline-block;
}

.record {
    overflow: auto;
    text-align: center;
}

.record p {
    font-size: 25px;
    line-height: 40px;
}

.time-record {
    margin-left: 5px;
}

.record button {
    cursor: pointer;
    margin-top: 17px;
    padding: 5px 45px;
    background: linear-gradient(160deg, #02ccba 0%, #02ccba 100%);
    box-shadow: 1px 20px 20px 0 rgba(46, 61, 73, 0.3);
    color: white;
    font-size: 25px;
    border-radius: 5px;
    font-family: Itim, cursive;
    border-color: #02ccba;
    border-style: none;
}

.rating li {
    list-style: none;
    display: inline-block;
}


/* animations */

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/*Media queries*/

@media screen and (max-width: 440px) {
    .deck {
        width: 100%;
        min-height: 30em;
        padding: 10px;
    }
    .deck .card {
        height: 97px;
        width: 22.5%;
    }
    .popup {
        padding: 10px 20px 30px;
    }
}

@media screen and (min-width: 441px) and (max-width: 550px) {
    .deck {
        width: 100%;
        min-height: 34em;
        padding: 10px;
    }
    .deck .card {
        height: 105px;
        width: 22.5%;
    }
}

@media screen and (min-width: 550px) and (max-width: 660px) {
    .deck {
        width: 100%;
        padding: 1.5em;
    }
    .deck .card {
        height: 122px;
        width: 23%;
    }
}

@media screen and (min-width: 661px) and (max-width: 768px) {
    .deck {
        width: 86%;
        padding: 1.5em;
    }
}

@media screen and (max-width: 670px) {
    .popup {
        width: 100%;
    }
}













